<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.garfield.travelnote.dal.mapper.DivisionDoMapper" >
  <resultMap id="BaseResultMap" type="com.garfield.travelnote.dal.domain.DivisionDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="parent_code" property="parentCode" jdbcType="CHAR" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
</mapper>