<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.garfield.travelnote.dal.mapper.MateNoteDoMapper" >
  <resultMap id="BaseResultMap" type="com.garfield.travelnote.dal.domain.MateNoteDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>

  <resultMap id="MateNoteResultMap" type="com.garfield.travelnote.common.model.bo.MateNoteBo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="name" property="userName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="INTEGER" />
  </resultMap>

  <sql id="BaseField">
    mn.id,mn.user_id,mn.title,mn.content,mn.place,mn.start_time,mn.end_time,
    mn.phone,mn.created_at,mn.updated_at
  </sql>

  <sql id="MateNoteField">
    mn.id,mn.user_id,u.name,mn.title,mn.content,mn.place,mn.start_time,mn.end_time,
    mn.phone,mn.created_at,mn.updated_at
  </sql>

  <select id="selectMateNoteById" resultMap="MateNoteResultMap">
    SELECT
    <include refid="MateNoteField"/>
    FROM mate_note mn
    LEFT JOIN user u ON u.id = mn.user_id
    <where>
      mn.is_deleted = 0
      AND mn.id = #{id}
      AND u.is_deleted = 0
    </where>
  </select>

  <select id="selectById" resultMap="BaseResultMap">
    SELECT
    <include refid="BaseField"/>
    FROM mate_note mn
    LEFT JOIN user u ON u.id = mn.user_id
    <where>
      mn.is_deleted = 0
      AND mn.id = #{id}
      AND u.is_deleted = 0
    </where>
  </select>


  <select id="selectMateNoteList" resultMap="BaseResultMap"
          parameterType="com.zhexinit.ov.common.query.SortPagerQuery">
    SELECT
    <include refid="BaseField"/>
    FROM mate_note mn
    LEFT JOIN user u ON u.id = mn.user_id
    <where>
      mn.is_deleted = 0
      AND u.is_deleted = 0
      <if test="data!=null">
        <if test="data.userId!=null">
          AND mn.user_id = #{data.userId}
        </if>
      </if>
    </where>

    <if test="sortField!=null">
      order by mn.created_at
      <if test="sortOrder=='ASC'">
        asc
      </if>
      <if test="sortOrder=='DESC'">
        desc
      </if>
    </if>
  </select>

</mapper>