<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.garfield.travelnote.dal.mapper.NoteDoMapper" >
  <resultMap id="BaseResultMap" type="com.garfield.travelnote.dal.domain.NoteDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>

  <resultMap id="NoteBoResultMap" type="com.garfield.travelnote.common.model.bo.NoteBo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
    <collection property="noteCommentBoList" column="id" select="selectNoteCommentBoList"/>
  </resultMap>

  <resultMap id="NoteCommentResultMap" type="com.garfield.travelnote.common.model.bo.NoteCommentBo" >
    <result column="note_id" property="noteId" jdbcType="INTEGER" />
    <result column="comment_user_id" property="commentUserId" jdbcType="INTEGER" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="comment_name" property="commentName" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="NoteField">
    n.id,n.title,n.user_id,u.name user_name,n.content,n.created_at
  </sql>

  <sql id="NoteCommentField">
    nc.note_id,nc.user_id comment_user_id,nc.floor,nc.comment,u.name comment_name
  </sql>

  <select id="selectNoteBoById" resultMap="NoteBoResultMap">
    SELECT
    <include refid="NoteField"/>
    FROM note n
    LEFT JOIN user u ON u.id = n.user_id
    WHERE n.is_deleted = 0
    AND u.is_deleted = 0
    AND n.id = #{id}
  </select>

  <select id="selectNoteCommentBoList" resultMap="NoteCommentResultMap">
    SELECT
    <include refid="NoteCommentField"/>
    FROM note_comment nc
    LEFT JOIN user u ON u.id = nc.user_id
    WHERE nc.is_deleted = 0
    AND u.is_deleted = 0
    AND nc.note_id = 1
    ORDER BY nc.floor ASC
  </select>

</mapper>