<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.travelnote.dal.mapper.ScenicSpotDoMapper">
  <resultMap id="BaseResultMap" type="com.garfield.travelnote.dal.domain.ScenicSpotDo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="division_id" jdbcType="INTEGER" property="divisionId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="play_time" jdbcType="INTEGER" property="playTime" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="created_at" jdbcType="INTEGER" property="createdAt" />
    <result column="updated_at" jdbcType="INTEGER" property="updatedAt" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="level" jdbcType="TINYINT" property="level" />
  </resultMap>
  <sql id="base_column" >
    id,division_id,name,play_time,longitude,latitude,created_at,updated_at,is_deleted,level
  </sql>
    <select id="selectByIds" resultMap="BaseResultMap">
      SELECT <include refid="base_column"/>
      FROM scenic_spot
      WHERE id IN
      <foreach collection="ids" index="index" open="(" close=")" separator="," item="item">
        #{item}
      </foreach>
      and is_deleted = 0
     </select>

    <select id="sortByLevel" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM scenic_spot
        WHERE id IN
        <foreach collection="ids" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and is_deleted = 0
        order by level desc
    </select>
</mapper>